<script async src="https://www.googletagmanager.com/gtag/js?id=UA-1974891-11"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'UA-1974891-11');
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-V4Y9LK428F"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'G-V4Y9LK428F');
</script>
