<div class="qa-nav-main">
  <ul class="qa-nav-main-list">
    <li class="qa-nav-main-item" style="">
      <a href="http://sites.question2answer.org/" class="qa-nav-main-link">Sites</a>
    </li>
    <li class="qa-nav-main-item" style="">
      <a href="install-basic.html" class="qa-nav-main-link">Install</a>
    </li>
    <li class="qa-nav-main-item" style="">
      <a href="addons.html" class="qa-nav-main-link">Add-Ons</a>
    </li>
    <li class="qa-nav-main-item" style="">
      <a href="developers.html" class="qa-nav-main-link">Developers</a>
    </li>
    <li class="qa-nav-main-item" style="">
      <a href="services.html" class="qa-nav-main-link">Services</a>
    </li>
    <li class="qa-nav-main-item" style="float:right;">
      <a href="http://qa.question2answer.org/" class="qa-nav-main-link">Question2Answer Q&amp;A</a>
    </li>
  </ul>
  <div class="qa-nav-main-clear">
  </div>
</div>
